
.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px; 
    margin: 0 auto;
   
  }
  
  .jumbotron .display-4 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  


body {
    font-family: Arial, sans-serif;
    margin-right: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #333;
}

/* Text  */
.text-section {
    padding: 40px 0;
    background-color: #f8f9fa; 
  }
  
  .text-section .section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .text-section .section-content {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
  }
  
  /* Image Section */
  .image-section {
    padding: 40px 0;
    background-color: #fff;
  }
  
  .image-section .section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image-section .image-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .image-section .gallery-image {
    max-width: 25%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .image-section .gallery-image:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  
  .navbar .navbar-text {
    flex: 1; /* Ensures equal space */
  }
  
  .navbar .navbar-text.text-center {
    text-align: center;
  }
  
  .navbar .navbar-text.text-end {
    text-align: right;
  }